* {
	box-sizing: border-box;
}

body {
    background-image: url(https://i.imgur.com/PV8ojj9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: scroll;
}

h1 {
    font-size: 3.8em;
    letter-spacing: 2px;
    margin-bottom: -20px;
    text-shadow: 0 0 3px black;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 65px;
}

h1,
h2 {
    text-align: center;
    color: #FF4500;
    font-family: 'Fredoka One', cursive;
}

li {
    display: inline-block;
    padding: 10px;
    margin: 20px, 20px, 20px, 20px;
}

.movie-item-controls {
    display: inline;
    position: right;
    opacity: 1;
}

img {
height: 300px;
max-width: 200px;
}

.movie-item,
.box-office,
.movie-card {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #FEF9E7;
    border-radius: 12px;
    display: table-cell, block;
    opacity: .98;
}

.movie-item {
    max-width: 250px;
    max-height: 450px;
}

.movie-list,
.box-office-list,
.movie-card-list {
    display: table;
    width: 100%;
    /* float: left; */
    padding: 0px;
    margin: 0 auto;
}

.movie-card {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.box-office-list {
    display: table;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
}

.movie-title {
    font-weight: bold;
    word-wrap: break-word;
}

.movie-title-card {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.bold-title {
    font-weight: bold;
}

.stream-list {
    padding: 0px;
}

.stream-list li:not(:first-child):before {
    content: '|';
    margin-right: 18px;
}

.view-movie {
    background-color: #87CEFA;
    border-radius: 5px;
    border: 1px solid black;
    width: 60px;
    margin-top: 10px;
}

.add-to-box-office,
.back-to-list,
.go-to-box-office-list,
.remove-movie,
.update-movie {
    background-color: #87CEFA;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
}

.remove-movie,
.update-movie {
    width: 80px;
}


/* .movie-list:after {
    content: "";
    display: table;
    clear: both;
} */

#user-rating,
#user-comments {
    margin-top: 12px;
}