* {
	box-sizing: border-box;
}

body {
    background-image: url(https://i.imgur.com/PV8ojj9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: scroll;
}

h1 {
    font-size: 3.8em;
    letter-spacing: 2px;
    margin-bottom: -20px;
    text-shadow: 0 0 3px black;
}

h2 {
    font-size: 2em;
    margin-bottom: 65px;
}

h1,
h2 {
    text-align: center;
    color: red;
    font-family: 'Fredoka One', cursive;
}

li {
    display: inline-block;
    padding: 10px;
    margin: 20px, 20px, 20px, 20px;
}

.movie-item-controls {
    display: inline;
    position: right;
    opacity: 1;
}

img {
height: 300px;
max-width: 200px;
}

.movie-item,
.box-office,
.movie-card {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #FEF9E7;
    border-radius: 12px;
    display: table-cell, block;
}

.movie-item {
    max-width: 250px;
    max-height: 450px;
}

.movie-list,
.box-office-list,
.movie-card-list {
    display: table;
    width: 100%;
    /* float: left; */
    padding: 0px;
    margin: 0 auto;
}

.movie-card {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.box-office-list {
    display: table;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
}

.movie-title {
    font-weight: bold;
    word-wrap: break-word;
}


.stream-list {
    padding: 0px;
}


/* .movie-list:after {
    content: "";
    display: table;
    clear: both;
} */